<!-- <meta http-equiv="refresh" content="10" /> -->
<?php
/*
 *  This file is part of SNEP.
 *
 *  SNEP is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  SNEP is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with SNEP.  If not, see <http://www.gnu.org/licenses/>.
 */
?>
<div class="row">  
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <div class="snep-body-search">
                    <?php  if($this->key)
                        echo "" ;
                    { ?>
                        <a class='sn-dash-add' style="margin-right: 15px;" href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a>   
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- IP Extensions -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate("IP Extensions") ?>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Extension") ?></th>
                                <th class="text-center"><?php echo $this->translate("Type") ?></th>
                                <th><?php echo $this->translate("IP Address") ?></th>
                                <th class="text-center"><?php echo $this->translate("Latency") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->ramais) {
                                foreach ($this->ramais as $key => $value) { ?>
                                    <tr>
                                        <td><?php echo $value['ramal'] ?></td>
                                        <td class="text-center"><?php echo $value['tipo'] ?></td>
                                        <td><?php echo $value['ip'] ?></td>
                                        <td class="text-center"><?php echo $value['delay'] ?></td>
                                    </tr>
                                <?php }
                            } else { ?>
                                <tr>
                                    <td colspan="5"><?php echo $this->translate("no extension available") ?></td>
                                </tr>
                            <?php } ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- IP Extensions -->
        <!-- Licenses -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate("Licenses") ?>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Licenses (g729)") ?></th>
                                <th><?php echo $this->translate("Code") ?></th>
                                <th><?php echo $this->translate("Decode") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->codecs[1]) { ?>
                                <tr>
                                    <td><?php echo $this->codecs[0] ?></td>
                                    <td><?php echo $this->codecs[1] ?></td>
                                    <td><?php echo $this->codecs[2] ?></td>
                                </tr>
                            <?php } else { ?>
                                <tr>
                                    <td colspan="3"><?php echo $this->translate("no data available") ?></td>
                                </tr>   
                                <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Licenses -->
    </div>
    
    <div class="col-md-6">
        <!-- Queues -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate("Queues") ?>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Queue") ?></th>
                                <th class="text-center"><?php echo $this->translate("Members") ?></th>
                                <th class="text-center"><?php echo $this->translate("Calls in the queue awaiting") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            if ($this->filas) {
                                foreach ($this->filas as $key => $value) { ?>

                                    <tr>
                                        <td><?php echo $value['name'] ?></td>
                                        <td class="text-center"><?php echo $value['members'] ?></td>
                                        <td class="text-center"><?php echo $value['calls'] ?></td>
                                    </tr>
                                <?php }
                            } else { ?>
                                <tr >
                                    <td colspan="3"><?php echo $this->translate("no queue available") ?></td>
                                </tr>
                            <?php } ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Queues -->

        <!-- Sip Trunks -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate("SIP Trunks") ?>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Name") ?></th>
                                <th><?php echo $this->translate("IP") ?></th>
                                <th><?php echo $this->translate("User") ?></th>
                                <th><?php echo $this->translate("Type") ?></th>
                                <th><?php echo $this->translate("Status") ?></th>
                                <th><?php echo $this->translate("Latency") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <?php
                            if ($this->troncoSip) {

                                foreach ($this->troncoSip as $key => $value) { ?>
                                    <tr>
                                        <?php
                                        foreach ($value as $peerskey => $peersvalue) { ?>
                                            <td><?php echo $peersvalue ?><br/></td>
                                        <?php } ?>
                                    </tr>
                                <?php }
                            } else { ?>
                                <tr>
                                    <td colspan="6"><?php echo $this->translate("no trunk available") ?></td>
                                </tr>
                            <?php } ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Sip Trunks -->

        <!-- Iax Trunks -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <?php echo $this->translate("IAX Trunks") ?>
            </div>
            
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate("Name") ?></th>
                                <th><?php echo $this->translate("IP") ?></th>
                                <th><?php echo $this->translate("User") ?></th>
                                <th><?php echo $this->translate("Type") ?></th>
                                <th><?php echo $this->translate("Status") ?></th>
                                <th><?php echo $this->translate("Latency") ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <?php
                            if ($this->trunkIax) {
                                foreach ($this->trunkIax as $key => $value) { ?>
                                    <tr>
                                        <?php foreach ($value as $peerskey => $peersvalue) { ?>
                                            <td><?php echo $peersvalue ?><br/></td>
                                        <?php } ?>
                                    </tr>
                                <?php }
                            } else { ?>
                                <tr>
                                    <td colspan="6"><?php echo $this->translate("no trunk available") ?></td>
                                </tr>
                            <?php } ?>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /IAX Trunks -->
    </div>  


</div> <!-- /.row -->   

    


    
            

